html(lang="fr")
  head
    title Joueur #{joueur}
    link(rel="stylesheet", type="text/css", media="all", href="css/styles.css")
  body(class='joueur' + joueur)
    #content
      #main
        #questiontexte 
          #questiontexteInner
        #reponses 
      #aside
        #questionimage
        #avatar

    #popin
      button#start Démarrer une partie

    script(src='js/jquery.js')
    script(src='js/jquery.modal.js')
    script(src='/socket.io/socket.io.js')
    script.
      var zones = !{zones};
      var joueur = #{joueur};
    script(src='js/client.js')