html{
	height:100%;
	overflow: hidden;
}
body{
	font-size:20px;
	background:#333 url(../img/fond_Interface.png);
	color:#fff;
	background-size: 100% auto;
	height:100%;
	width:100%;
	overflow:hidden;
}

#content
{
	padding: 20px; //test marge ecran
	@include clearfix;
	height:100%;
	width:100%;
	overflow:hidden;
	@include box-sizing(border-box);
	
}

#main{
	width:70%;
	float:left;
	@include box-sizing(border-box);
	padding-right: 20px;
}
#aside{
	width:30%;
	float:left;
	@include box-sizing(border-box);
	
	height:100%;
	#questionimage{
		width:100%;
		height:50%;
		padding-bottom: 20px;
		@include box-sizing(border-box);
		text-align: center;
		#realQuestionImage{
			background-size: auto 100%;
			background-position: center top;
			background-repeat: no-repeat;
			width:100%;
			height:100%;
		}
	}
    #avatar{
    	width:100%;
		height:50%;
		padding-top: 20px;
    	@include box-sizing(border-box);
	}
}
.joueur1{
	#avatar{
		background:url(../img/joueur1.png) no-repeat center center;
		background-size: auto 100%;
	}
}
.joueur2{
	#avatar{
		background:url(../img/joueur2.png) no-repeat center center;
		background-size: auto 100%;
	}
}
.joueur3{
	#avatar{
		background:url(../img/joueur3.png) no-repeat center center;
		background-size: auto 100%;
	}
}
.joueur4{
	#avatar{
		background:url(../img/joueur4.png) no-repeat center center;
		background-size: auto 100%;
	}
}

#questiontexte{
	border:2px solid #fff;
	border-width:2px 2px 0 2px;
	background:#113;
	@include box-shadow(0px 0px 5px #2cb9cf);
	#questiontexteInner{
		width:100%;
		padding:4em 1em;
		
		@include box-shadow(0px 0px 5px #2cb9cf inset);
		@include box-sizing(border-box);
		p{
			margin:0;
		}
		strong{
			font-size:30px;
		line-height:40px;	
		}
	}
}

#reponses{
	list-style:none;
	button{
		background:none;
		background:#335;
		color:#fff;
		text-align: left;
		width:100%;
		padding:2em 1em;
		@include box-shadow(0px 0px 5px #2cb9cf inset);
		@include box-sizing(border-box);
		strong{
			padding-right: 10px;
			font-size:30px;
		}
		&.bon{
			&:focus,&:active{
				background:#353;
			}
		}
		&.faux{
			&:focus,&:active{
				background:#533;
			}
		}
	}
	li{
		border:2px solid #fff;
		border-width:2px 2px 0 2px;
		@include box-shadow(0px 0px 5px #2cb9cf);
		&:last-child{
			border-width:2px;
		}
	}
}

#start{
	position: absolute;
	z-index:10;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:url(../img/start.png) no-repeat;
	background-size: 100% auto;
	font-size:70px;
	color:#fff;
	text-shadow: 1px 1px 2px #000, 0px 0px 1em #2cb9cf, 0 0 0.2em #2cb9cf;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

.carte{
	#content{
		background:url(../img/Map0.png);
		background-size: 100% auto;
		position: relative;
		#zone1,#zone2,#zone3,#zone4{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			display: none;
		}
		#zone1{
			z-index:2;
			background:url(../img/Map1.png);
			background-size: 100% auto;
		}
		#zone2{
			z-index:3;
			background:url(../img/Map2.png);
			background-size: 100% auto;
		}
		#zone3{
			z-index:4;
			background:url(../img/Map3.png);
			background-size: 100% auto;
		}
		#zone4{
			z-index:5;
			background:url(../img/Map4.png);
			background-size: 100% auto;
		}
	}
}